.Lorem {
    width: 500px;
    margin: 30px;
    padding: 10px;
    border: 5px;
    border-style: double;
    background-color: lightcoral;
    border-radius: 15px;
}

div {
    width: 500px;
    margin: 30px;
    padding: 10px;
    border: 5px;
    border-style: dotted;
    background-color: yellow;
    border-radius: 15px;
}

