.udang p {
    color: orange;
}

.udang > p {
    color: green;
    font-weight: bold;
}

.udang > p:hover {
    color: red;
    cursor: pointer;
    text-decoration: underline;
}

.udang > .uu > p {
    color: red;
}

a + button{
    background-color: gray;
}

a + button:hover{    /* hover menandakan barisan a + button:hover akan berubah ketika cursor di arahkan ke tag*/
    background-color: orange;
    color: green;
    border-radius: 10px;
}

input[type="text"] {
    color: greenyellow;
    font-weight: bold;
}

section:nth-of-type(2n) {    /* 2n menandakan setiap kelipatan 2*/
    background-color: aquamarine;
}

section:nth-of-type(3) {  /* 3 menandakan backround color hanya dirubah di section ke tiga */
    background-color: green;
}

h3::first-letter{ /* first-letter menandakan yang dirubah adalah huruf pertama pada tag yang mengandung h3 */
    font-size: xx-large;
}

section h3::first-line{ /* first-line menandakan yang dirubah hanyalah tag section yang di dalamnya ada tag h3 yang hanya baris pertama */
    color: orange;
}


