h1{
    text-align :center;
}

li{
    text-align: center;
}

#container{
    background-color: aquamarine;
    width: 90%;
    height: 700px;
    margin: 0 auto;
    border: 5px solid black;
    display: flex;  /* fungsi flex sendiri adalah untuk memasukkan blog yang ada dalam container untuk selanjutnya baru kita tambahkan tag baru namanya flex-direction, flex-direction ini ada 4 : row (dari depan kebelakang), row-reverse (dari belakang ke depan), column (dari atas kebawah), dan column-reverse (dari bawah ke atas) */
    flex-direction: row; /* untuk memastikan agar object tetap pada lebar container meskipin dia harus mengurangi ukuran objek jika object tidak cukup  */
    /* justify-content: flex-end; */
    /*flex-wrap: wrap; */ /* memperthankan ukuran objek sebenanrya dan memindahkan spacenya ke tempat lain jika tidak cukup */
    align-items: baseline;
}

#container div{
    width: 200px;
    height: 200px;
}